<div class = "row">
	<h1>のマイページ</h1>

	<div class= "col-xs-6">
		<!--ここにuser-image入れる-->
		<div class="user-info">
			<h3>ニックネーム</h3>
			<p>ここに名前入れる</p>
		</div>
	</div>

	<div class = "col-xs-6">
		<div class = "user-post">
			<p>ここに投稿入れる</p>
		</div>
	</div>
</div>
