<div class = "row">
	<div class = "about-image">
		<div class = "block col-xs-6 col-xs-offset-3">
			<h1>about</h1>
			<hr>
			<p>
				訪問ありがとうございます。<br>
				銭_get_backはあなたの販売体験をシェアする投稿サイトです<br>
				どんな物が売れたのか、みんなにシェアしましょう！
			</p>
		</div>
	</div>
</div>
<div class = "row">
	<h2 class = "text-center">At your service</h2>
	<hr class = "line">
</div>
<div class = "service row">
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-share" aria-hidden="true"></i>
			<h3>Share</h3>
			<p class = "icon-text text-muted">Easily share your experience</p>
			<button id = "open-modal1">click</button>

			<!-- モーダル -->
			<section id="modal-area1">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>share</h1>
						<p>
							何気なく出品してみたら買い取ってもらえた！<br>
							こんな物まで売れちゃった！<br>
							フリマアプリでのそんな販売経験、ありませんか？<br>
							あなたの経験をみんなにシェアしてみましょう！<br>
							質問がきたらぜひ、答えてあげてください！
						</p>
					</div>
					<div id="close-modal1">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->
		</div>
	</div>
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
			<h3>Research</h3>
			<p class = "icon-text text-muted">You can find what you want to know</p>
			<button id = "open-modal2">click</button>

			<!-- モーダル -->
			<section id="modal-area2">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>research</h1>
						<p>
							方法はとっても簡単！<br>
							いつものように検索してみて<br>
							あなたの探しているページがすぐ見つかるはず！<br>
							気になったページにはいいねしてあげてね
						</p>
					</div>
					<div id="close-modal2">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->

		</div>
	</div>
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
			<h3>Question</h3>
			<p class = "icon-text text-muted">You can ask any question immediately</p>
			<button id = "open-modal3">click</button>

			<!-- モーダル -->
			<section id="modal-area3">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>question</h1>
						<p>
							フリマサイトは簡単に売り買いができて、とても便利です<br>
							その反面、発送作業やお相手とのやり取りなど、慣れていない人には面倒な作業もあります<br>
							出品する前に、同じ商品を販売した仲間に聞いて準備しましょう！<br>
							例)どんなふうに写真を撮ったの？
							新品じゃないと売れないの？<br>
							もしかすると、売らない方がいいかも！<br>
							もしかしたら、宝の山かも!!!
						</p>
					</div>
					<div id="close-modal3">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->
		</div>
	</div>
</div>