<div class = "row">
	<div class = "about-image">
		<div class = "block col-xs-6 col-xs-offset-3">
			<h1>about</h1>
			<hr>
			<p>
				訪問ありがとうございます。<br>
				銭_get_backはあなたの販売体験をシェアする投稿サイトです<br>
				どんな物が売れたのか、みんなにシェアしましょう！
			</p>
		</div>
	</div>
</div>
<div class = "row">
	<h2 class = "text-center">At your service</h2>
	<hr class = "line">
</div>
<div class = "service row">
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-share" aria-hidden="true"></i>
			<h3>Share</h3>
			<p class = "icon-text text-muted">Easily share your experience</p>
			<button id = "open-modal1">click</button>

			<!-- モーダル -->
			<section id="modal-area1">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>テスト!1</h1>
						<p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
					</div>
					<div id="close-modal1">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->
		</div>
	</div>
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
			<h3>Research</h3>
			<p class = "icon-text text-muted">You can quickly find what you want to know</p>
			<button id = "open-modal2">click</button>

			<!-- モーダル -->
			<section id="modal-area2">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>テスト2</h1>
						<p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト </p>
					</div>
					<div id="close-modal2">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->

		</div>
	</div>
	<div class = "col-xs-4">
		<div class = "point">
			<i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
			<h3>Question</h3>
			<p class = "icon-text text-muted">You can ask any question immediately</p>
			<button id = "open-modal3">click</button>

			<!-- モーダル -->
			<section id="modal-area3">
				<div class="modal-bg"></div>
				<div class="modal-wrapper">
					<div class="modal-contents">
						<h1>テスト3</h1>
						<p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
					</div>
					<div id="close-modal3">
					×
					</div>
				</div>
			</section>
			<!-- モーダル -->
		</div>
	</div>
</div>