<div class = "row">
	<div class = "search-box">
		<%= render 'layouts/notifications' %>
		<h1 style = "text-align:center;">Let's search for what you want to sell !!</h1>

		<%= search_form_for @search, url:search_posts_path do |f| %>
			<div class = "search-box text-center">
				<%= f.search_field :title_or_explanation_cont %>
				<%= f.submit "検索", class: "search-btn" %>
			</div>
		<% end %>
	</div>

	<div class = "randam-contents"></div>
</div>