<div id = "row">

	<div id = "head">
		<h1>投稿作成</h1>
	</div>

	<div class = "wrap">
		<ul id = "tab-menu" class = "clearfix">
			<li><a href = "#tab1" class = "active">tab1</a></li>
			<li><a href = "#tab2" class = "">tab2</a></li>
		</ul>

		
		<div id = "tab-contents" class = "clearfix">
			<div id = "tab1" class = "tab">
				<div class = "box1"></div>
				<div class = "box2"></div>
			</div>

			<div id = "tab2" class = "tab">
				<p>tab2のテキスト</p>
			</div>
		</div>

	</div>
</div>
